@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap');

.contentTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 600px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
  font-family: 'Nunito', sans-serif;
  margin-top: 40px;
}

.contentTable thead tr {
  background-color: #333232;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.contentTable th,
.contentTable td {
  padding: 12px 15px;
}

.contentTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.contentTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.contentTable tbody tr:last-of-type {
  border-bottom: 2px solid #333232;
}

.contentTable tbody tr.active-row {
  font-weight: bold;
  color: #333232;
}

.customer_name {
  text-align: center;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 30px;
  margin-top: 30px;
}

.customer_date {
  text-align: center;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 940px) {

  .contentTable {
    width: 80%;
  }


}